/*! Emma.css 0.8.0 | emmet-like utility classes | MIT License | git.io/emma */
.u-pos-s { position: static !important; }
.u-pos-a { position: absolute !important; }
.u-pos-r { position: relative !important; }
.u-pos-f { position: fixed !important; }
.u-t-a { top: auto !important; }
.u-t-0 { top: 0 !important; }
.u-r-a { right: auto !important; }
.u-r-0 { right: 0 !important; }
.u-b-a { bottom: auto !important; }
.u-b-0 { bottom: 0 !important; }
.u-l-a { left: auto !important; }
.u-l-0 { left: 0 !important; }
.u-m-0 { margin: 0 !important; }
.u-m-a { margin: auto !important; }
.u-m-0_a { margin: 0 auto !important; }
.u-m-a_0 { margin: auto 0 !important; }
.u-m-xs { margin: 0.25rem !important; }
.u-m-sm { margin: 0.5rem !important; }
.u-m-md { margin: 1rem !important; }
.u-m-lg { margin: 1.5rem !important; }
.u-m-xl { margin: 3rem !important; }
.u-m-xxl { margin: 6rem !important; }
.u-mt-0 { margin-top: 0 !important; }
.u-mt-a { margin-top: auto !important; }
.u-mt-xs { margin-top: 0.25rem !important; }
.u-mt-sm { margin-top: 0.5rem !important; }
.u-mt-md { margin-top: 1rem !important; }
.u-mt-lg { margin-top: 1.5rem !important; }
.u-mt-xl { margin-top: 3rem !important; }
.u-mt-xxl { margin-top: 6rem !important; }
.u-mr-0 { margin-right: 0 !important; }
.u-mr-a { margin-right: auto !important; }
.u-mr-xs { margin-right: 0.25rem !important; }
.u-mr-sm { margin-right: 0.5rem !important; }
.u-mr-md { margin-right: 1rem !important; }
.u-mr-lg { margin-right: 1.5rem !important; }
.u-mr-xl { margin-right: 3rem !important; }
.u-mr-xxl { margin-right: 6rem !important; }
.u-mb-0 { margin-bottom: 0 !important; }
.u-mb-a { margin-bottom: auto !important; }
.u-mb-xs { margin-bottom: 0.25rem !important; }
.u-mb-sm { margin-bottom: 0.5rem !important; }
.u-mb-md { margin-bottom: 1rem !important; }
.u-mb-lg { margin-bottom: 1.5rem !important; }
.u-mb-xl { margin-bottom: 3rem !important; }
.u-mb-xxl { margin-bottom: 6rem !important; }
.u-ml-0 { margin-left: 0 !important; }
.u-ml-a { margin-left: auto !important; }
.u-ml-xs { margin-left: 0.25rem !important; }
.u-ml-sm { margin-left: 0.5rem !important; }
.u-ml-md { margin-left: 1rem !important; }
.u-ml-lg { margin-left: 1.5rem !important; }
.u-ml-xl { margin-left: 3rem !important; }
.u-ml-xxl { margin-left: 6rem !important; }
.u-mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.u-my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.u-mx-a { margin-left: auto !important; margin-right: auto !important; }
.u-my-a { margin-top: auto !important; margin-bottom: auto !important; }
.u-mx-xs { margin-left: 0.25rem !important; margin-right: 0.25rem !important; }
.u-my-xs { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important; }
.u-mx-sm { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.u-my-sm { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.u-mx-md { margin-left: 1rem !important; margin-right: 1rem !important; }
.u-my-md { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.u-mx-lg { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
.u-my-lg { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
.u-mx-xl { margin-left: 3rem !important; margin-right: 3rem !important; }
.u-mx-xxl { margin-left: 6rem !important; margin-right: 3rem !important; }
.u-my-xl { margin-top: 3rem !important; margin-bottom: 3rem !important; }
.u-my-xxl { margin-top: 6rem !important; margin-bottom: 3rem !important; }
.u-p-0 { padding: 0 !important; }
.u-p-xs { padding: 0.25rem !important; }
.u-p-sm { padding: 0.5rem !important; }
.u-p-md { padding: 1rem !important; }
.u-p-lg { padding: 1.5rem !important; }
.u-p-xl { padding: 3rem !important; }
.u-p-xxl { padding: 6rem !important; }
.u-pt-0 { padding-top: 0 !important; }
.u-pt-xs { padding-top: 0.25rem !important; }
.u-pt-sm { padding-top: 0.5rem !important; }
.u-pt-md { padding-top: 1rem !important; }
.u-pt-lg { padding-top: 1.5rem !important; }
.u-pt-xl { padding-top: 3rem !important; }
.u-pt-xxl { padding-top: 6rem !important; }
.u-pr-0 { padding-right: 0 !important; }
.u-pr-xs { padding-right: 0.25rem !important; }
.u-pr-sm { padding-right: 0.5rem !important; }
.u-pr-md { padding-right: 1rem !important; }
.u-pr-lg { padding-right: 1.5rem !important; }
.u-pr-xl { padding-right: 3rem !important; }
.u-pr-xxl { padding-right: 6rem !important; }
.u-pb-0 { padding-bottom: 0 !important; }
.u-pb-xs { padding-bottom: 0.25rem !important; }
.u-pb-sm { padding-bottom: 0.5rem !important; }
.u-pb-md { padding-bottom: 1rem !important; }
.u-pb-lg { padding-bottom: 1.5rem !important; }
.u-pb-xl { padding-bottom: 3rem !important; }
.u-pb-xxl { padding-bottom: 6rem !important; }
.u-pl-0 { padding-left: 0 !important; }
.u-pl-xs { padding-left: 0.25rem !important; }
.u-pl-sm { padding-left: 0.5rem !important; }
.u-pl-md { padding-left: 1rem !important; }
.u-pl-lg { padding-left: 1.5rem !important; }
.u-pl-xl { padding-left: 3rem !important; }
.u-pl-xxl { padding-left: 6rem !important; }
.u-px-0 { padding-left: 0 !important; padding-right: 0 !important; }
.u-py-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.u-px-xs { padding-left: 0.25rem !important; padding-right: 0.25rem !important; }
.u-py-xs { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important; }
.u-px-sm { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
.u-py-sm { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
.u-px-md { padding-left: 1rem !important; padding-right: 1rem !important; }
.u-py-md { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.u-px-lg { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
.u-py-lg { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
.u-px-xl { padding-left: 3rem !important; padding-right: 3rem !important; }
.u-px-xxl { padding-left: 6rem !important; padding-right: 6rem !important; }
.u-py-xl { padding-top: 3rem !important; padding-bottom: 3rem !important; }
.u-py-xxl { padding-top: 6rem !important; padding-bottom: 6rem !important; }
.u-w-a { width: auto !important; }
.u-w-0 { width: 0 !important; }
.u-w-1p { width: 1% !important; }
.u-w-10p { width: 10% !important; }
.u-w-20p { width: 20% !important; }
.u-w-25p { width: 25% !important; }
.u-w-30p { width: 30% !important; }
.u-w-33p { width: 33% !important; }
.u-w-40p { width: 40% !important; }
.u-w-50p { width: 50% !important; }
.u-w-60p { width: 60% !important; }
.u-w-66p { width: 66% !important; }
.u-w-70p { width: 70% !important; }
.u-w-75p { width: 75% !important; }
.u-w-80p { width: 80% !important; }
.u-w-90p { width: 90% !important; }
.u-w-100p { width: 100% !important; }
.u-w-100vw { width: 100vw !important; }
.u-h-a { height: auto !important; }
.u-h-0 { height: 0 !important; }
.u-h-100p { height: 100% !important; }
.u-h-100vh { height: 100vh !important; }
.u-maw-100p { max-width: 100% !important; }
.u-maw-80p { max-width: 80% !important; }
.u-maw-50p { max-width: 50% !important; }
.u-mah-n { max-height: none !important; }
.u-mah-100p { max-height: 100% !important; }
.u-miw-0 { min-width: 0 !important; }
.u-mih-0 { min-height: 0 !important; }
.u-ta-l { text-align: left !important; }
.u-ta-c { text-align: center !important; }
.u-ta-r { text-align: right !important; }
.u-ta-j { text-align: justify !important; }
.u-d-f {  display: flex !important }
.u-d-if {  display: inline-flex !important }
.u-d-n {  display: none !important }
.u-d-b {  display: block !important }
.u-d-ib {  display: inline-block !important }
.u-d-i {  display: inline !important }
.u-fxd-r { flex-direction: row !important }
.u-fxd-rr { flex-direction: row-reverse !important }
.u-fxd-c { flex-direction: column !important }
.u-fxd-cr { flex-direction: column-reverse !important }
.u-fxw-n { flex-wrap: nowrap !important }
.u-fxw-w { flex-wrap: wrap !important }
.u-fxw-wr { flex-wrap: wrap-reverse !important }
.u-fxg-1 { flex-grow: 1 !important }
.u-fxs-1 { flex-shrink: 1 !important }
.u-jc-fs { justify-content: flex-start !important }
.u-jc-fe { justify-content: flex-end !important }
.u-jc-c { justify-content: center !important }
.u-jc-sb { justify-content: space-between !important }
.u-jc-sa { justify-content: space-around !important }
.u-ai-fs { align-items: flex-start !important }
.u-ai-fe { align-items: flex-end !important }
.u-ai-c { align-items: center !important }
.u-ai-b { align-items: baseline !important }
.u-ai-s { align-items: stretch !important }
.u-ac-fs { align-content: flex-start !important }
.u-ac-fe { align-content: flex-end !important }
.u-ac-c { align-content: center !important }
.u-ac-sb { align-content: space-between !important }
.u-ac-sa { align-content: space-around !important }
.u-ac-s { align-content: stretch !important }
.u-ord--1 { order: -1 !important }
.u-ord-0 { order: 0 !important }
.u-ord-1 { order: 1 !important }
.u-ord-2 { order: 2 !important }
.u-ord-3 { order: 3 !important }
.u-ord-4 { order: 4 !important }
.u-ord-5 { order: 5 !important }
.u-ord-6 { order: 6 !important }
.u-ord-9999 { order: 9999 !important }
.u-fx-n { flex: none !important }
.u-fx-1_1_a { flex: 1 1 auto !important }
.u-fx-1_0_a { flex: 1 0 auto !important }
.u-fx-1_1_1 { flex: 1 1 1px !important }
.u-as-a { align-self: auto !important }
.u-as-fs { align-self: flex-start !important }
.u-as-fe { align-self: flex-end !important }
.u-as-c { align-self: center !important }
.u-as-b { align-self: baseline !important }
.u-as-s { align-self: stretch !important }
.u-va-t { vertical-align: top !important }
.u-va-m { vertical-align: middle !important }
.u-va-tt { vertical-align: text-top !important }
.u-va-tb { vertical-align: text-bottom !important }
.u-va-sp { vertical-align: super !important }
.u-va-sb { vertical-align: sub !important }