.u-clickarea:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.u-flex-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-mw-lg {
  max-width: $size--laptop !important;
}

.u-mw-md {
  max-width: $size--tablet !important;
}

.u-mw-sm {
  max-width: $size--mobile !important;
}

.u-mw-xs {
  max-width: $size--mobile / 2 !important;
}
