#app {
  --color-ts-duration: 2s;
  --color-ts-delay: 1s;
}

$size--laptop: 1250px;
$size--tablet: 900px;
$size--mobile: 450px;

$size--container: 760px;
$size--container--lg: 980px;
$size--container--xl: 1100px;
$size--gutter: .5rem;
