#app {
  --color--primary: #52b3b1;
  --color--text: #556f6d;
  --color--primary-on: #ffffff;
  --color--link: #01c1ca;
  --color--disabled: #666666;
}

$shadow--standard: 1px 2px 5px -1px rgba(#000, .2);
$shadow--narrow: 1px 1px 3px -2px rgba(#000, .5);
$shadow--inset: .25px .5px 6px -1px rgba(#000, .3) inset;
