@mixin mq-max($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin mq-min($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin mq($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

@mixin hover() {
  @media (any-hover: hover) {
    &:hover{ @content; }
  }
}