.slide-up-leave-active,
.slide-down-leave-active {
  transition: all 0.2s $ease-out-cubic;
}

.slide-up-enter-active,
.slide-down-enter-active {
  transition: all 1.5s $ease-out-cubic;
}

.slide-up-enter-active,
.slide-down-enter-active {
  transition-delay: 0.3s;
}

.slide-up-enter,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(25vh)
}

.slide-up-leave-to,
.slide-down-enter {
  opacity: 0;
  transform: translateY(-25vh)
}

.fade-enter-active {
  transition: all 1s linear;
}

.fade-leave-active {
  transition: all 0.2s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
