/* =========================================================
   Typography
========================================================= */

/* ---------------------------------------------------------
   Default
--------------------------------------------------------- */

// Yu Gothic Tweaks
@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Medium");
}
@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

// Default Gothic
$font--gothic: -apple-system, BlinkMacSystemFont, "Helvetica Neue", HelveticaNeue, "Segoe UI", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", "HiraKakuProN-W3", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

$font--heading: 'Ubuntu', $font--gothic;

body {
   text-rendering: optimizeLegibility;
   font-feature-settings: "kern";
   -webkit-font-feature-settings: "kern";
   -moz-font-feature-settings: "kern";
   -moz-font-feature-settings: "kern=1";
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: $font--gothic;
   font-feature-settings : "pkna";
}
/* ---------------------------------------------------------
   Base Size
--------------------------------------------------------- */
html, body {
  font-size: 4vw;
  line-height: 1;
}
@media screen and (min-width:400px) {
  html, body {
    font-size: 16px;
  }
}
