.c-paper {
  padding: 3rem 1.5rem;
  background-color: var(--color--primary-on);
  border-radius: 3px;
  color: var(--color--text);
}

.c-single-line-flex {
  margin: -$size--gutter;

  >* {
    margin: $size--gutter;
  }

  @include mq-min($size--mobile) {
    display: flex;
  }
}

.c-multi-line-flex {
  display: flex;
  flex-wrap: wrap;
  margin: -$size--gutter;

  >* {
    margin: $size--gutter;
  }
}
