<template>
  <button :class="classes" :type="type">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'BaseBtn',
  props: {
    skin: {
      type: String,
      default: 'standard',
    },
    align: {
      type: String,
      default: 'left',
    },
    color: {
      type: String,
      default: 'transparent',
    },
    type: {
      type: String,
      default: '',
    },
  },
  computed: {
    classes() {
      return [
        'base-btn',
        'base-btn--align-' + this.align,
        'base-btn--skin-' + this.skin,
        'base-btn--color-' + this.color,
      ]
    },
  },
}
</script>

<style lang="scss" scoped>
.base-btn {
  display: inline-block;
  padding: 0.5em 1em;
  // border: 1px solid var(--color--text);
  border-radius: 2em;
  border: 2px solid var(--color--primary);
  box-shadow: 0.1em 0.1em 0.1em 0 rgba(#000, 0.15);
  &:hover {
    box-shadow: 0.1em 0.1em 0.3em 0 rgba(#000, 0.15),
      0 0 0 100px rgba(#fff, 0.1) inset;
  }
  font-size: inherit;
  font-family: $font--heading;
  transition: box-shadow 0.3s linear,
    background-color var(--color-ts-duration) linear,
    border-color var(--color-ts-duration) linear;
  cursor: pointer;
}
.base-btn--align-left {
  text-align: left;
}
.base-btn--align-left-indent {
  text-align: left;
  margin-left: 2rem;
}
.base-btn--align-right {
  text-align: right;
}
.base-btn--align-center {
  text-align: center;
}
.base-btn--color-primary {
  background-color: var(--color--primary);
  color: var(--color--primary-on);
}
.base-btn--color-transparent {
  background-color: transparent;
  color: var(--color--primary);
}
.base-btn--color-inherit {
  color: inherit;
}
.base-btn--skin-bold {
  font-weight: bold;
  letter-spacing: 0.1rem;
}
</style>
