<template>
  <div :class="classes" :style="{ color: color }">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'BaseText',
  props: {
    skin: {
      type: String,
      default: 'standard',
    },
    align: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: '',
    },
  },
  computed: {
    classes() {
      return [
        'base-text',
        'base-text--' + this.align,
        'base-text--' + this.skin,
      ]
    },
  },
}
</script>

<style lang="scss">
.base-text {
  font-size: 1rem;
  line-height: 1.4;
  word-wrap: break-word;
  color: var(--color--text);
  & > p {
    margin: 0.75rem 0 0.75rem 0;
  }
  & > p:first-of-type {
    margin-top: 0;
  }
  & > p:last-of-type {
    margin-bottom: 0;
  }
  & > b,
  & > p > b {
    font-weight: bold;
  }
  & > a,
  & > p > a {
    color: var(--color--link);
    text-decoration: underline dashed var(--color--primary);
  }
  transition: color var(--color-ts-duration) linear;
}
.base-text--left {
  text-align: left;
}
.base-text--left-indent {
  text-align: left;
  margin-left: 2rem;
}
.base-text--right {
  text-align: right;
}
.base-text--center {
  text-align: center;
}
</style>
