<template>
  <img :id="'lazyimg-' + id" v-lazy="imgUrl" :alt="alt" class="base-lazy-img" />
</template>

<script>
export default {
  name: 'BaseLazyImg',
  props: {
    imgUrl: {
      type: String,
      required: true,
    },
    alt: {
      type: String,
      default: '',
    },
    spinner: Boolean,
  },
  data: () => {
    return {
      id: null,
    }
  },
  mounted() {
    this.id = this._uid
  },
}
</script>

<style lang="scss" scoped>
.base-lazy-img {
  opacity: 0;
  transition: opacity 0.5s linear;
  &[lazy='loaded'] {
    opacity: 1;
  }
}
</style>
