<template>
  <component :is="tag" :style="{ color: color }" :class="classes">
    <slot />
  </component>
</template>

<script>
export default {
  name: 'BaseHeading',
  props: {
    size: {
      type: String,
      required: false,
      default: 'md',
      validator: value => ['xs', 'sm', 'md', 'lg', 'xl'].indexOf(value) !== -1,
    },
    color: {
      type: String,
      default: '',
    },
    level: {
      type: Number,
      default: 1,
    },
  },
  computed: {
    classes() {
      return ['base-heading', 'base-heading--' + this.size]
    },
    tag() {
      return `h${this.level}`
    },
  },
}
</script>

<style lang="scss" scoped>
.base-heading {
  font-weight: bold;
  color: var(--color--text);
  transition: color var(--color-ts-duration) linear;
  line-height: 1.25;
}
.base-heading--xs {
  font-size: 0.8rem;
}
.base-heading--sm {
  font-size: 1rem;
}
.base-heading--md {
  font-size: 1.25rem;
}
.base-heading--lg {
  font-size: 1.5rem;
}
.base-heading--xl {
  font-size: 2rem;
}
</style>
