<template>
  <div class="base-container" :class="['base-container--' + size]">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'BaseContainer',
  props: {
    size: {
      type: String,
      required: false,
      validator: function(value) {
        return ['sm', 'md', 'lg', 'full'].indexOf(value) !== -1
      },
      default: 'md',
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/foundation/baseVariables';
.base-container {
  display: block;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: $size--container;
  max-width: 100vw;
}
.base-container--sm {
  width: $size--mobile;
}
.base-container--lg {
  width: $size--container--lg;
}
.base-container--full {
  width: 100%;
}
</style>
