<template>
  <div
    class="big-panel"
    :style="{
      width: size + 'px',
      height: size + 'px',
    }"
  >
    <Panel
      v-for="index in 4"
      :key="index"
      :size="size / 2"
      :color="colors[index - 1]"
      :style="{
        left: (((index - 1) % 2) * size) / 2 + 'px',
        top: (Math.floor((index - 1) / 2) * size) / 2 + 'px',
      }"
      :delay="delay + (Math.floor(index / 2) + (index % 2)) / 16"
    />
    <Panel :size="size" :img-src="image" :delay="delay" />
  </div>
</template>

<script>
import Panel from '~/components/Panel'
export default {
  name: 'BigPanel',
  components: {
    Panel,
  },
  props: {
    size: {
      type: Number,
      default: 0,
    },
    delay: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    colors() {
      return this.$store.state.panelColors
    },
    image() {
      return this.$store.state.panelImage
    },
  },
}
</script>

<style lang="scss" scoped>
.big-panel {
  position: relative;
  > * {
    position: absolute;
  }
}
</style>
