<template>
  <div class="heroic-heading">
    <h1
      ref="heading"
      :class="{ 'jp-font': isHeadingJp }"
      class="heroic-heading__heading"
    >
      {{ animation ? '' : computedHeading }}
    </h1>
    <p
      ref="subHeading"
      class="heroic-heading__sub-heading"
      :class="{ 'jp-font': isSubHeadingJp }"
    >
      {{ animation ? '' : computedSubHeading }}
    </p>
  </div>
</template>

<script>
import { TimelineMax, TweenMax, Linear } from 'gsap' // eslint-disable-line
export default {
  name: 'HeroicHeading',
  props: {
    heading: {
      type: String,
      required: true,
    },
    jpHeading: {
      type: String,
      default: '',
    },
    subHeading: {
      type: String,
      default: '',
    },
    jpSubHeading: {
      type: String,
      default: '',
    },
    delay: {
      type: Number,
      default: 0,
    },
    animation: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      first: true,
      animating: false,
    }
  },
  computed: {
    isHeadingJp() {
      return this.$store.state.lang === 'jp' && this.jpHeading
    },
    isSubHeadingJp() {
      return this.$store.state.lang === 'jp' && this.jpSubHeading
    },
    computedHeading() {
      return this.isHeadingJp ? this.jpHeading : this.heading
    },
    computedSubHeading() {
      return this.isSubHeadingJp ? this.jpSubHeading : this.subHeading
    },
  },
  watch: {
    '$store.state.lang'() {
      this.refresh()
    },
  },
  mounted() {
    const lang = localStorage.lang || 'en'
    this.$store.commit('setLang', lang)
    this.refresh()
  },
  methods: {
    refresh() {
      if (this.animating || !this.animation) return
      this.animating = true
      const { heading, subHeading } = this.$refs
      const rect = heading.getBoundingClientRect()
      heading.style.minHeight = rect.height + 'px'
      if (subHeading) {
        const rect = subHeading.getBoundingClientRect()
        subHeading.style.minHeight = rect.height + 'px'
      }
      // アニメーション実行
      const tl = new TimelineMax({ delay: this.delay })
      tl.to(heading, 1, {
        scrambleText: {
          text: this.computedHeading,
          chars: 'upperAndLowerCase',
        },
        ease: Linear.easeNone,
      })
      const tlSub = new TimelineMax({ delay: this.delay })
      tlSub.to(subHeading, 1, {
        scrambleText: {
          text: this.computedSubHeading,
          chars: 'lowerCase',
        },
        ease: Linear.easeNone,
      })
      tlSub.addCallback(() => {
        this.animating = false
        // 高さ固定解除
        heading.style.minHeight = 'auto'
        subHeading.style.minHeight = 'auto'
      })
    },
  },
  head() {
    return {
      script: [
        { src: '/vendor/ScrambleTextPlugin.js' },
        { src: '/vendor/SplitText.js' },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.heroic-heading {
  width: 100%;
  margin: auto;
}
.heroic-heading__heading,
.heroic-heading__sub-heading {
  opacity: 1;
  color: #fff;
  font-family: $font--heading;
  font-weight: bold;
  // text-shadow: 0 0 .7em rgba(#000, 0.1); /* ScrambleTextとの相性悪い */
  font-feature-settings: 'pkna';
  letter-spacing: 0.05em;
}
.heroic-heading__heading {
  font-size: 3.75rem;
  line-height: 1.2;
}
.jp-font {
  font-size: 3.2rem;
  letter-spacing: 0.01em;
}
.heroic-heading__sub-heading {
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  font-size: 1.3rem;
  line-height: 1.3;
}
</style>
