<template>
  <div ref="container" class="language-selector">
    <div ref="selector" class="selector" />
    <div data-lang="en" class="item" @click="changeLang('en')">
      English
    </div>
    <div data-lang="jp" class="item" @click="changeLang('jp')">
      日本語
    </div>
  </div>
</template>

<script>
import { TimelineMax, Power1, Back } from 'gsap' /* eslint-disable-line */
export default {
  name: 'LanguageSelector',
  watch: {
    '$store.state.lang'() {
      this.changeLang(this.$store.state.lang)
    },
  },
  mounted() {
    this.updateSelector()
  },
  methods: {
    changeLang(lang) {
      this.$store.commit('setLang', lang)
      localStorage.lang = lang
      this.updateSelector()
    },
    updateSelector() {
      const items = document.getElementsByClassName('item')
      let activeEl
      // 全てのitemからactiveクラスを外す
      Array.prototype.slice.call(items).forEach(el => {
        if (el.dataset.lang === this.$store.state.lang) {
          activeEl = el
          el.classList.add('active')
        } else {
          el.classList.remove('active')
        }
      })
      // selectorを変形
      const selector = this.$refs.selector
      const activeRect = activeEl.getBoundingClientRect()
      const containerRect = this.$refs.container.getBoundingClientRect()
      const dx = activeRect.x - containerRect.x
      const tl = new TimelineMax()
      tl.set(selector, { height: activeRect.height })
      tl.to(selector, 0.1, {
        x: dx / 2,
        width: activeRect.width / 3,
        ease: Power1.easeIn,
      })
      tl.to(selector, 0.4, {
        x: dx,
        width: activeRect.width,
        ease: Back.easeOut,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.language-selector {
  display: flex;
  position: relative;
  margin: -0.5rem;
}
.selector {
  position: absolute;
  top: 0.5rem;
  border-radius: 3px;
  z-index: 0;
  background-color: var(--color--primary);
  transition: background-color var(--color-ts-duration) linear;
}
.item {
  position: relative;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-family: $font--heading;
  color: #fff;
  background-color: rgba(#333, 0.2);
  border-radius: 3px;
  transition: background-color 0.5s linear;
  cursor: pointer;
  &.active {
    background-color: transparent;
  }
}
</style>
