<template>
  <div
    ref="wrapper"
    :style="{
      width: size + 'px',
      height: size + 'px',
    }"
    class="panel"
  >
    <div ref="panel" class="panel__body" />
  </div>
</template>

<script>
import { TimelineMax, Elastic, Power4 } from 'gsap'
export default {
  name: 'Panel',
  props: {
    size: {
      type: Number,
      default: 0,
      required: true,
    },
    color: {
      type: String,
      default: 'transparent',
      required: false,
    },
    imgSrc: {
      type: String,
      default: null,
      required: false,
    },
    delay: {
      type: Number,
      required: true,
    },
  },
  data: () => {
    const tl = new TimelineMax()
    return {
      animating: false,
      currentColor: '',
      tl: tl,
    }
  },
  watch: {
    color() {
      this.animate()
    },
    imgSrc() {
      this.animate()
    },
  },
  mounted() {
    const tl = new TimelineMax()
    const { panel } = this.$refs
    if (this.imgSrc) {
      tl.set(panel, {
        backgroundImage:
          'url(' + require('@/assets/images/' + this.imgSrc) + ')',
      })
    } else {
      tl.set(panel, { backgroundColor: this.color })
    }
  },
  methods: {
    animate() {
      // if (this.animating) return;
      this.animating = true
      // Panel Animation
      const startColor = this.color
      const startImgSrc = this.imgSrc
      const { panel, wrapper } = this.$refs
      this.tl.clear()
      this.tl.timeScale(1)
      this.tl
        .set(wrapper, {
          perspective: 600,
        })
        .set(panel, {
          transformStyle: 'preserve-3d',
          rotationY: 0,
          rotationX: 0,
        })
        .to(panel, 0.5, {
          rotationY: 90,
          rotationX: Math.random() * -10 - 10,
          ease: Power4.easeOut,
          delay: this.delay,
        })
      // パネルの内容変更
      this.tl.set(panel, {
        rotationY: -90,
      })
      if (this.imgSrc) {
        this.tl.set(panel, {
          backgroundImage:
            'url(' + require('@/assets/images/' + this.imgSrc) + ')',
        })
      } else {
        this.tl.set(panel, { backgroundColor: this.color })
      }
      this.tl.to(panel, 4.5, {
        rotationY: 0,
        rotationX: 0,
        ease: Elastic.easeOut.config(1.5, 0.5),
      })
      // ランダムでタイムリマップ
      if (Math.random() > 0.95 && !this.imgSrc) {
        this.tl.addCallback(() => {
          this.tl.timeScale(0.2)
        }, 0.6)
        this.tl.addCallback(() => {
          this.tl.timeScale(0.7)
        }, 0.7)
        this.tl.addCallback(() => {
          this.tl.timeScale(1)
        }, 0.8)
      }
      // アニメーション終了時に指定色/画像と異なっていたら再度アニメーション
      this.tl.addCallback(() => {
        this.animating = false
        if (this.color !== startColor || this.imgSrc !== startImgSrc) {
          this.animate()
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.panel {
  position: relative;
}
.panel__body,
.panel__lighting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.panel__body {
  background-size: contain;
  background-blend-mode: overlay;
}
.panel__img {
  width: 100%;
  height: 100%;
}
</style>
