<template>
  <div class="swipe-affordance">
    <span class="swipe-affordance__ball" />
  </div>
</template>

<script>
export default {
  name: 'SwipeAffordance',
}
</script>

<style lang="scss" scoped>
.swipe-affordance {
  position: relative;
  width: 30px;
  height: 49px;
  border: 2px solid #fff;
  border-radius: 20px;
}
.swipe-affordance__ball {
  position: absolute;
  top: 4px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: rgba(#fff, 0.8);
  animation: swipe 1.5s infinite ease both 2s;
}
@keyframes swipe {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(28px);
    opacity: 0;
  }
}
</style>
