<template>
  <div class="the-footer">
    <BaseHeading size="xl" class="the-footer__title">
      YIR.WORKS
    </BaseHeading>
    <BaseText class="the-footer__copyright u-mt-md">
      &copy; Yuichiro Nagayama
    </BaseText>
    <nav class="the-footer__nav u-mt-xl">
      <nuxt-link to="/" class="the-footer__btn u-m-sm">
        <BaseBtn color="inherit"> Top </BaseBtn>
      </nuxt-link>
      <nuxt-link to="/profile" class="the-footer__btn u-m-sm">
        <BaseBtn color="inherit"> Profile </BaseBtn>
      </nuxt-link>
      <nuxt-link to="/works" class="the-footer__btn u-m-sm">
        <BaseBtn color="inherit"> Works </BaseBtn>
      </nuxt-link>
      <nuxt-link to="/contact" class="the-footer__btn u-m-sm">
        <BaseBtn color="inherit"> Contact </BaseBtn>
      </nuxt-link>
    </nav>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.the-footer {
  width: 100%;
  padding: 5rem 1rem;
  color: #fff;
  background-color: #333;
  text-align: center;
}
.the-footer__btn {
  display: inline-block;
  color: #fff;
}
.the-footer__copyright,
.the-footer__title {
  color: #fff !important;
}
</style>
