<template>
  <div ref="gradient" class="the-gradient" />
</template>

<script>
import { TweenLite, Linear } from 'gsap' // eslint-disable-line
export default {
  data: () => {
    return {
      colors: {
        _1r: 255,
        _1g: 255,
        _1b: 255,
        _2r: 255,
        _2g: 255,
        _2b: 255,
        _3r: 255,
        _3g: 255,
        _3b: 255,
        _4r: 255,
        _4g: 255,
        _4b: 255,
      },
    }
  },
  watch: {
    '$store.state.gradient': {
      handler: function() {
        this.setGradient()
      },
    },
  },
  methods: {
    setGradient() {
      const el = this.$refs.gradient
      if (!this.colors || !el) return false
      const colors = this.$store.state.gradient
      const toColors = {}
      const app = document.querySelector('#app')
      const duration =
        app && app.style.getPropertyValue('--color-ts-duration')
          ? app.style.getPropertyValue('--color-ts-duration').replace(/s$/, '')
          : 1
      toColors._1r = colors[0][0]
      toColors._1g = colors[0][1]
      toColors._1b = colors[0][2]
      toColors._1a = colors[0][3]
      toColors._2r = colors[1][0]
      toColors._2g = colors[1][1]
      toColors._2b = colors[1][2]
      toColors._2a = colors[1][3]
      toColors._3r = colors[2][0]
      toColors._3g = colors[2][1]
      toColors._3b = colors[2][2]
      toColors._3a = colors[2][3]
      toColors._4r = colors[3][0]
      toColors._4g = colors[3][1]
      toColors._4b = colors[3][2]
      toColors._4a = colors[3][3]
      TweenLite.to(this.colors, duration, {
        _1r: toColors._1r,
        _1g: toColors._1g,
        _1b: toColors._1b,
        _1a: toColors._1a,
        _2r: toColors._2r,
        _2g: toColors._2g,
        _2b: toColors._2b,
        _2a: toColors._2a,
        _3r: toColors._3r,
        _3g: toColors._3g,
        _3b: toColors._3b,
        _3a: toColors._3a,
        _4r: toColors._4r,
        _4g: toColors._4g,
        _4b: toColors._4b,
        _4a: toColors._4a,
        ease: Linear.easeNone,
        onUpdate: this.colorize,
        onUpdateParams: [el],
        delay: 0,
      })
    },
    colorize() {
      const el = this.$refs.gradient
      if (!el) return false
      TweenLite.set(el, {
        backgroundImage:
          `linear-gradient(135deg,` +
          `rgba(${this.colors._1r}, ${this.colors._1g}, ${this.colors._1b}, ${this.colors._1a}) 0%,` +
          `rgba(${this.colors._2r}, ${this.colors._2g}, ${this.colors._2b}, ${this.colors._2a}) 40%,` +
          `rgba(${this.colors._3r}, ${this.colors._3g}, ${this.colors._3b}, ${this.colors._3a}) 60%,` +
          `rgba(${this.colors._4r}, ${this.colors._4g}, ${this.colors._4b}, ${this.colors._4a}) 100%`,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.the-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
}
</style>
