<template>
  <div class="the-panels">
    <BigPanel
      v-for="(panel, index) in panelsNum"
      :key="index"
      :size="panelSize"
      :delay="delay(index)"
    />
  </div>
</template>

<script>
import BigPanel from '~/components/BigPanel'
export default {
  name: 'ThePanels',
  components: {
    BigPanel,
  },
  data: () => {
    return {
      ww: 0,
      wh: 0,
    }
  },
  computed: {
    panelSize() {
      if (process.browser) {
        const cols = Math.floor(this.ww / 240)
        return Math.ceil(this.ww / cols)
      } else {
        return 0
      }
    },
    panelsNum() {
      if (process.browser) {
        const cols = Math.ceil(this.ww / this.panelSize)
        const rows = Math.ceil(this.wh / this.panelSize) + 1
        return cols * rows
      } else {
        return 0
      }
    },
  },
  created() {
    if (process.browser) {
      this.handleResize()
    }
  },
  mounted() {
    window.addEventListener('resize', this.handleResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    delay(index) {
      const cols = Math.ceil(this.ww / this.panelSize)
      const row = Math.floor(index / cols)
      const col = (index % cols) + 1
      return (col + row) / 8
    },
    handleResize() {
      this.ww = window.innerWidth
      this.wh = window.innerHeight
    },
  },
}
</script>

<style lang="scss" scoped>
.the-panels {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw + 24px); // 小数点発生分をざっくり最大24pxとして吸収
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
</style>
