<template>
  <div id="the-scroll-controller"></div>
</template>

<script>
import WorksData from '~/assets/json/Works.json'
export default {
  data() {
    return {
      observer: null,
      works: WorksData,
      active: true,
    }
  },
  mounted() {
    /* --------------------------------------------
      スクロール動作をリッスン
    -------------------------------------------- */
    {
      document.addEventListener('touchstart', this.handleTouchStart, false)
      document.addEventListener('touchmove', this.handleTouchMove, false)
      const wheel =
        'onwheel' in document
          ? 'wheel'
          : 'onmousewheel' in document
          ? 'mousewheel'
          : 'DOMMouseScroll'
      document.addEventListener(wheel, this.handleWheel, { passive: false })
    }
  },
  methods: {
    getTouches(e) {
      return e.touches || e.originalEvent.touches
    },
    handleTouchStart(e) {
      const firstTouch = this.getTouches(e)[0]
      this.xTouchDown = firstTouch.clientX
      this.yTouchDown = firstTouch.clientY
    },
    handleTouchMove(e) {
      if (!this.xTouchDown || !this.yTouchDown) {
        return
      }
      const yUp = e.touches[0].clientY
      const yDiff = this.yTouchDown - yUp
      this.xTouchDown = null
      this.yTouchDown = null
      // ページ遷移が発生したらこれ以上スクロールさせない（遷移アニメーション中に慣性で遷移先がスクロールするのを防ぎたい）
      if (this.stretch(yDiff) || !this.active) {
        e.preventDefault()
        e.stopPropagation()
        return false
      }
    },
    handleWheel(e) {
      if (!process.browser) return
      const delta = e.deltaY
        ? -e.deltaY
        : e.wheelDelta
        ? e.wheelDelta
        : -e.detail
      // ページ遷移が発生したらこれ以上スクロールさせない（遷移アニメーション中に慣性で遷移先がスクロールするのを防ぎたい）
      if (this.stretch(-delta) || !this.active) {
        e.preventDefault()
        e.stopPropagation()
        return false
      }
    },
    stretch(delta) {
      if (!process.browser) return
      if (!this.active) return
      const top = document.documentElement.scrollTop || document.body.scrollTop
      if (delta < 0 && top <= 0) {
        this.changePage(-1)
        return true
      } else if (delta > 0) {
        const main = document.querySelector('#main')
        if (!main) return false
        const rect = main.getBoundingClientRect()
        const clientHeight = document.documentElement.clientHeight
        if (rect.top <= clientHeight - rect.height) {
          this.changePage(1)
          return true
        }
      }
      return false
    },
    changePage(n) {
      let path
      const pages = process.env.pages
      const pagesIndex = pages.indexOf(this.$route.name)
      const pagesTarget = pages[pagesIndex + n]
      const works = this.works.map(work => work.id)
      const worksIndex = works.indexOf(this.$route.name.replace(/^work-/, ''))
      const worksTarget = works[worksIndex + n]
      if (pagesIndex > -1 && pagesTarget) {
        path = `/${pagesTarget}`
      } else if (worksIndex > -1 && worksTarget) {
        path = `/work/${worksTarget}`
      }
      if (path === '/index') path = '/'
      if (path) {
        this.active = false
        setTimeout(() => {
          this.active = true
        }, 2000)
        this.$router.push(path)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
#the-scroll-controller {
  height: 1px;
}
</style>
