<template>
  <div id="main" class="page-work">
    <BaseContainer>
      <HeroicHeading
        heading="Custom CMS Post Editor"
        jp-heading="カスタムCMS記事エディタ"
      />
      <LanguageSelector class="u-mt-lg" />
    </BaseContainer>
    <BaseContainer size="lg" class="u-ta-c">
      <picture class="u-w-100p">
        <source
          type="image/webp"
          srcset="/images/work--ateditor.webp"
          class="u-w-100p"
        />
        <img src="/images/work--ateditor.png" class="u-w-100p" />
      </picture>
    </BaseContainer>
    <BaseContainer class="u-mt-xl">
      <section class="c-paper">
        <BaseHeading>
          SUMMARY
        </BaseHeading>
        <BaseText class="u-mt-md">
          <template v-if="$store.state.lang === 'jp'">
            <p>
              「＠ほぉ〜むカフェ」オフィシャルサイトのために制作した投稿記事エディター。<br />
              Vue.jsで制作したアプリケーションをWordPressの管理画面に埋め込むことで、高いカスタマイズ性とサイト本体との親和性を実現できました。
            </p>
          </template>
          <template v-else>
            <p>
              「＠ほぉ〜むカフェ」オフィシャルサイトのために制作した投稿記事エディター。<br />
              Vue.jsで制作したアプリケーションをWordPressの管理画面に埋め込むことで、高いカスタマイズ性とサイト本体との親和性を実現できました。
            </p>
          </template>
        </BaseText>
      </section>
      <section class="c-paper u-mt-lg">
        <BaseHeading>
          <template v-if="$store.state.lang === 'jp'">
            モダンWebサイトのためのモダンポストエディター
          </template>
          <template v-else>
            Modern Post Editor for Modern Web Site
          </template>
        </BaseHeading>
        <BaseText class="u-mt-md">
          <template v-if="$store.state.lang === 'jp'">
            <p>
              サイト本体と同じVue.jsを使用することで、双方の連携を容易にし、さらに高いインタラクティブ性をエディターに取り入れることができました。
            </p>
            <p>
              特にプレビュー機能はその恩恵が顕著で、本番と全く同じプレビューをリアルタイムで表示することを可能にしています。
            </p>
          </template>
          <template v-else>
            <p>
              By using same JavaScript framework as the main site, this editor
              provides high affinity between editor and main site.
            </p>
            <p>
              It also provides high interactivity from modern JavaScript.
              Especially the preview function shows real entire post preview
              with no delay.
            </p>
          </template>
        </BaseText>
      </section>
      <section class="c-paper u-mt-lg">
        <BaseHeading>
          <template v-if="$store.state.lang === 'jp'">
            一貫した記事デザインの提供
          </template>
          <template v-else>
            Consistent Post Design
          </template>
        </BaseHeading>
        <BaseText class="u-mt-md">
          <template v-if="$store.state.lang === 'jp'">
            <p>
              複数の投稿者が従来のエディターで記事を投稿すると、デザインが一貫しない／デザインの品質を担保できないという問題が発生していました。
            </p>
            <p>
              このエディターでは、投稿者が選択するのは色や大きさではなく「大見出し」「テキスト」「注意書き」などといった記事内での意味であり、それぞれにデザイナーがデザインしたスタイルが適用されます。
            </p>
            <p>
              これによって一貫した記事デザインを提供し、さらにセマンティックな記事作りを促進しています。
            </p>
          </template>
          <template v-else>
            <p>
              However hard a designer design for a web site, a non-designer post
              editor can break it easily with ridiculous coloring and wrong
              sizing.
            </p>
            <p>
              Upon using this editor, users don't decide colors nor sizes but
              semantic attribute for each elements, like "Heading",
              "Blockquote", "Caution", etc.
            </p>
          </template>
        </BaseText>
      </section>
      <section class="c-paper u-mt-lg">
        <BaseHeading>
          <template v-if="$store.state.lang === 'jp'">
            業務形態に特化した専用UI
          </template>
          <template v-else>
            Improve Efficienty
          </template>
        </BaseHeading>
        <BaseText class="u-mt-md">
          <template v-if="$store.state.lang === 'jp'">
            <p>
              「メイド」「イベントスケジュール」など頻繁に使う要素には専用のUIを用意。作業効率の向上はもちろん、稼働後のデザイン変更も容易になりました。
            </p>
          </template>
          <template v-else>
            <p>
              「メイド」「イベントスケジュール」など頻繁に使う要素には専用のUIを用意。作業効率の向上はもちろん、稼働後のデザイン変更も容易になりました。
            </p>
          </template>
        </BaseText>
      </section>
      <nav class="u-mt-xl u-pt-xl u-ta-c">
        <nuxt-link to="/work/athome">
          <BaseBtn color="primary" class="u-m-sm">
            Prev: @home cafe
          </BaseBtn>
        </nuxt-link>
        <nuxt-link to="/work/vpresentation">
          <BaseBtn color="primary" class="u-m-sm">
            Next: Dai Undokai
          </BaseBtn>
        </nuxt-link>
      </nav>
      <nav class="u-mt-lg u-ta-c">
        <nuxt-link to="/works">
          <BaseBtn skin="bold"> BACK </BaseBtn>
        </nuxt-link>
      </nav>
    </BaseContainer>
  </div>
</template>

<script>
import HeroicHeading from '~/components/HeroicHeading'
import LanguageSelector from '~/components/LanguageSelector'

export default {
  components: {
    HeroicHeading,
    LanguageSelector,
  },
  data: () => {
    return {}
  },
  mounted() {
    const panel = {
      panelColors: ['#CABFE9', '#F2EFFF', '#D7CCF6', '#E6DFFF'],
      panelImage: 'panel--heart-purple.svg',
      gradient: [
        [113, 113, 214, 0.7],
        [170, 176, 226, 0.5],
        [193, 175, 248, 0.6],
        [113, 113, 214, 0.7],
      ],
      colors: {
        primary: '#735fe2',
        text: '#735fe2',
        primaryOn: '#ffffff',
      },
    }
    this.$store.dispatch('changePanel', panel)
  },
  transition(to, from) {
    const works = process.env.works
    const fromIndex = from ? works.indexOf(from.name.replace(/^work-/, '')) : -1
    const transition =
      fromIndex > -1
        ? fromIndex < works.indexOf('ateditor')
          ? 'slide-up'
          : 'slide-down'
        : 'fade'
    return {
      name: transition,
      mode: 'out-in',
    }
  },
}
</script>

<style lang="scss" scoped>
.page-work {
  padding: 100px 0 400px 0;
}
</style>
