<template>
  <div id="main" class="page-work">
    <BaseContainer>
      <HeroicHeading heading="@home cafe" jp-heading="@home cafe" />
      <LanguageSelector class="u-mt-lg" />
    </BaseContainer>
    <BaseContainer size="lg" class="u-ta-c">
      <picture class="u-w-100p">
        <source
          type="image/webp"
          srcset="/images/work--athome.webp"
          class="u-w-100p"
        />
        <img src="/images/work--athome.png" class="u-w-100p" />
      </picture>
      <a href="https://cafe-athome.com/" target="_blank">
        <BaseBtn color="primary" skin="bold"> VISIT SITE </BaseBtn>
      </a>
    </BaseContainer>
    <BaseContainer class="u-mt-xl">
      <section class="c-paper">
        <BaseHeading>
          SUMMARY
        </BaseHeading>
        <BaseText class="u-mt-md">
          <template v-if="$store.state.lang === 'jp'">
            <p>
              メイドカフェ「＠ほぉ〜むカフェ」オフィシャルサイトのリプレース。
            </p>
            <p>
              企画段階から関わり、ディレクションおよびフロントエンドのUI/UX/ビジュアルデザイン、コーディングの全てを担当しました。
            </p>
          </template>
          <template v-else>
            <p>
              Replacing a maid cafe "@home cafe" official web site.
            </p>
            <p>
              Being in on from the planning stage. Participating as a director,
              UX / UI / Visual designer, and coder.
            </p>
          </template>
        </BaseText>
      </section>
      <section class="c-paper u-mt-lg">
        <img
          src="/images/work--athome-omrice.jpg"
          alt="@home cafe cover movie"
          class="u-d-b u-mx-a u-mb-lg u-maw-100p"
        />
        <BaseHeading>
          <template v-if="$store.state.lang === 'jp'">
            信頼できる「メイドカフェ」
          </template>
          <template v-else>
            A Trustful Maid Cafe
          </template>
        </BaseHeading>
        <BaseText class="u-mt-md">
          <template v-if="$store.state.lang === 'jp'">
            <p>
              メイドカフェの中でも世界観とエンターテイメント性にこだわり、高いクォリティのサービスで知られる＠ほぉ〜むカフェ。
              その独特な個性を活かし、かつ「メイドカフェ」に対して持たれがちな偏見を取り払うため、尖った個性と安定した信頼感のバランスにこだわりました。
            </p>
          </template>
          <template v-else>
            <p>
              Amoung many maid cafes, @home cafe is known for its hight-quality
              service and highly entertaining form. However, there are still
              prejudices for this kind of service. I focused balancing of
              appealing their originality and securing their trust upon
              designing the site.
            </p>
          </template>
        </BaseText>
      </section>
      <section class="c-paper u-mt-lg">
        <img
          src="/images/work--athome-cards.jpg"
          alt="@home cafe cover movie"
          class="u-d-b u-mx-a u-mb-lg u-maw-100p"
        />
        <BaseHeading>
          <template v-if="$store.state.lang === 'jp'">
            迷わない大規模サイト
          </template>
          <template v-else>
            Drawing Clear Path
          </template>
        </BaseHeading>
        <BaseText class="u-mt-md">
          <template v-if="$store.state.lang === 'jp'">
            <p>
              企画の初期段階からUXデザインを意識し、ユーザーテストを繰り返し行いました。特に数多いメニューのカテゴリ分けと新規ユーザーの導線には気を遣い、新規ユーザーが迷わず、ハードコアユーザーが使いやすいサイトを目指しました。
            </p>
          </template>
          <template v-else>
            <p>
              We've paid much attention to UX Design from the beginning of the
              development. Practiced many user testing to provide clear site
              flow, especially for new users. Also to make the site comfortable
              for hardcore users.
            </p>
          </template>
        </BaseText>
      </section>
      <nav class="u-mt-xl u-pt-xl u-ta-c">
        <nuxt-link to="/work/ateditor">
          <BaseBtn color="primary" class="u-m-sm">
            Next: Custom CMS Post Editor
          </BaseBtn>
        </nuxt-link>
      </nav>
      <nav class="u-mt-lg u-ta-c">
        <nuxt-link to="/works">
          <BaseBtn skin="bold"> BACK </BaseBtn>
        </nuxt-link>
      </nav>
    </BaseContainer>
  </div>
</template>

<script>
import HeroicHeading from '~/components/HeroicHeading'
import LanguageSelector from '~/components/LanguageSelector'

export default {
  components: {
    HeroicHeading,
    LanguageSelector,
  },
  data: () => {
    return {}
  },
  mounted() {
    const panel = {
      panelColors: ['#F9D6E5', '#FAF1F3', '#F2D4DE', '#F7E4EB'],
      panelImage: 'panel--heart.svg',
      gradient: [
        [234, 153, 200, 0.7],
        [246, 206, 192, 0.5],
        [248, 225, 193, 0.6],
        [234, 153, 200, 0.7],
      ],
      colors: {
        primary: '#ff86bc',
        text: '#ff86bc',
        primaryOn: '#ffffff',
      },
    }
    this.$store.dispatch('changePanel', panel)
  },
  transition(to, from) {
    const works = process.env.works
    const fromIndex = from ? works.indexOf(from.name.replace(/^work-/, '')) : -1
    const transition =
      fromIndex > -1
        ? fromIndex < works.indexOf('athome')
          ? 'slide-up'
          : 'slide-down'
        : 'fade'
    return {
      name: transition,
      mode: 'out-in',
    }
  },
}
</script>

<style lang="scss" scoped>
.page-work {
  padding: 100px 0 400px 0;
}
</style>
