<template>
  <div id="main" class="page-work">
    <BaseContainer>
      <HeroicHeading
        heading="Dai Undokai (Vue Slideshow)"
        jp-heading="Dai Undokai (Vueスライドショー)"
      />
      <LanguageSelector class="u-mt-lg" />
    </BaseContainer>
    <BaseContainer size="lg" class="u-ta-c">
      <picture class="u-w-100p">
        <source
          type="image/webp"
          srcset="/images/work--vpresentation.webp"
          alt="screenshots"
          class="u-w-100p"
        />
        <img src="/images/work--vpresentation.png" class="u-w-100p" />
      </picture>
    </BaseContainer>
    <BaseContainer class="u-mt-xl">
      <section class="c-paper">
        <BaseHeading>
          SUMMARY
        </BaseHeading>
        <BaseText class="u-mt-md">
          <template v-if="$store.state.lang === 'jp'">
            <p>
              後楽園ホールで行われた＠ほぉ〜むカフェ主催のイベント「Dai
              Undokai」のためのスライドショー、およびその稼働のためのアプリケーション。
            </p>
          </template>
          <template v-else>
            <p>
              A slideshow application for the event "Dai Undokai" presented by
              @home cafe, held at Korakuen Hall.
            </p>
          </template>
        </BaseText>
      </section>
      <section class="c-paper u-mt-lg">
        <BaseHeading>
          <template v-if="$store.state.lang === 'jp'">
            Webアプリケーションの利点をプレゼンテーションに
          </template>
          <template v-else>
            Bring web application's advantages
          </template>
        </BaseHeading>
        <BaseText class="u-mt-md">
          <template v-if="$store.state.lang === 'jp'">
            <p>
              イベント中にスクリーンに表示するテロップをアニメーション付きで制作する案件で、当初はPowerPointでの制作が予定されていました。しかし本番中に変動する要素（各チームの得点など）があること、PowerPointでは制作物の再利用が難しいことから、Vue.jsで操作システムも含めて制作することになりました。
            </p>
            <p>
              結果、Three.jsとGSAPによるリッチな表現をJSONで管理するデータに適用し、さらに自由入力も可能なGUIを備えるアプリケーションを短期間で制作できました。
            </p>
          </template>
          <template v-else>
            <p>
              Initially, the project was planned for PowerPoint. However,
              because there are elements that varies during the show (such as
              the score of each team), and because it is difficult to reuse
              works made by PowerPoint to other project, I decided to create the
              project in Vue.js.
            </p>
            <p>
              As a result, we were able to create the application with a GUI
              that allows free input and rich visuals made by Three.json and
              GSAP, in a short development period.
            </p>
          </template>
        </BaseText>
      </section>
      <nav class="u-mt-xl u-pt-xl u-ta-c">
        <nuxt-link to="/work/ateditor">
          <BaseBtn color="primary" class="u-m-sm">
            Prev: Custom CMS Post Editor
          </BaseBtn>
        </nuxt-link>
      </nav>
      <nav class="u-mt-lg u-ta-c">
        <nuxt-link to="/works">
          <BaseBtn skin="bold"> BACK </BaseBtn>
        </nuxt-link>
      </nav>
    </BaseContainer>
  </div>
</template>

<script>
import HeroicHeading from '~/components/HeroicHeading'
import LanguageSelector from '~/components/LanguageSelector'

export default {
  components: {
    HeroicHeading,
    LanguageSelector,
  },
  data: () => {
    return {}
  },
  mounted() {
    const panel = {
      panelColors: ['#4958A9', '#959CC8', '#5668AA', '#707DBB'],
      panelImage: 'panel--circles.svg',
      gradient: [
        [0, 0, 0, 0.7],
        [160, 195, 258, 0.7],
        [60, 60, 60, 0.5],
        [0, 0, 0, 0.7],
      ],
      colors: {
        primary: '#3f476b',
        text: '#3f476b',
        primaryOn: '#ffffff',
      },
    }
    this.$store.dispatch('changePanel', panel)
  },
  transition(to, from) {
    const works = process.env.works
    const fromIndex = from ? works.indexOf(from.name.replace(/^work-/, '')) : -1
    const transition =
      fromIndex > -1
        ? fromIndex < works.indexOf('vpresentation')
          ? 'slide-up'
          : 'slide-down'
        : 'fade'
    return {
      name: transition,
      mode: 'out-in',
    }
  },
}
</script>

<style lang="scss" scoped>
.page-work {
  padding: 100px 0 400px 0;
}
</style>
