<template>
  <div id="app">
    <ThePanels />
    <TheGradient />
    <nuxt />
    <TheScrollController />
  </div>
</template>

<script>
import ThePanels from '~/components/ThePanels'
import TheGradient from '~/components/TheGradient'
import TheScrollController from '~/components/TheScrollController'

export default {
  components: {
    ThePanels,
    TheGradient,
    TheScrollController,
  },
  data: () => {
    return {}
  },
  mounted() {
    // 言語設定
    const lang = localStorage.lang || 'en'
    this.$store.commit('setLang', lang)
  },
  head() {
    return {
      link: [
        {
          rel: 'stylesheet',
          href: 'https://fonts.googleapis.com/css?family=Ubuntu',
        },
      ],
    }
  },
}
</script>

<style></style>
