<template>
  <div id="main" class="page-contact">
    <BaseContainer class="page-contact__container">
      <HeroicHeading
        heading="Contact"
        sub-heading=" yir[a]mac.com"
        :delay="0.2"
      />
    </BaseContainer>
    <TheFooter />
  </div>
</template>

<script>
import HeroicHeading from '~/components/HeroicHeading'
import TheFooter from '~/components/TheFooter'
export default {
  name: 'PageCover',
  components: {
    HeroicHeading,
    TheFooter,
  },
  data() {
    return {
      shown: false,
    }
  },
  mounted() {
    const panel = {
      panelColors: [
        'rgb(74,187,227)',
        'rgb(158,220,241)',
        'rgb(114,195,233)',
        'rgb(134,213,236)',
      ],
      panelImage: 'panel--moorish-skyblue.svg',
      gradient: [
        [101, 175, 217, 0.8],
        [238, 245, 255, 0.5],
        [206, 246, 246, 0.6],
        [101, 175, 217, 0.8],
      ],
      colors: {
        primary: '#4e8bc0',
        text: '#4e8bc0',
        primaryOn: '#ffffff',
      },
    }
    this.$store.dispatch('changePanel', panel)
  },
  transition(to, from) {
    const pages = process.env.pages
    const fromIndex = from ? pages.indexOf(from.name) : -1
    const transition =
      fromIndex > -1
        ? fromIndex < pages.indexOf('contact')
          ? 'slide-up'
          : 'slide-down'
        : 'fade'
    return {
      name: transition,
      mode: 'out-in',
    }
  },
}
</script>

<style lang="scss" scoped>
.page-contact {
  position: relative;
}
.page-contact__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.swipe-affordance-container {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
</style>
