<template>
  <div id="main" class="page-cover">
    <BaseContainer>
      <nuxt-link to="/profile">
        <HeroicHeading
          heading="YIR.WORKS"
          sub-heading="Yuichiro Nagayama Web Development / Design Works"
          jp-sub-heading="Yuichiro Nagayama Web Development / Design Works"
          :animation="true"
          :delay="1"
        />
      </nuxt-link>
    </BaseContainer>
    <nuxt-link to="/profile">
      <div class="swipe-affordance-container">
        <SwipeAffordance class="u-mx-a" />
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import HeroicHeading from '~/components/HeroicHeading'
import SwipeAffordance from '~/components/SwipeAffordance'
export default {
  name: 'PageCover',
  components: {
    HeroicHeading,
    SwipeAffordance,
  },
  data() {
    return {
      shown: false,
    }
  },
  mounted() {
    const panel = {
      panelColors: ['#70BFCA', '#A8D6D3', '#8DCAD3', '#94D4CC'],
      panelImage: 'panel--moorish.svg',
      gradient: [
        [135, 202, 199, 0.6],
        [206, 246, 192, 0.5],
        [148, 212, 204, 0.6],
        [115, 189, 200, 0.7],
      ],
      colors: {
        primary: '#52b3b1',
        text: '#52b3b1',
        primaryOn: '#ffffff',
      },
    }
    this.$store.dispatch('changePanel', panel)
  },
  transition(to, from) {
    const pages = process.env.pages
    const fromIndex = from ? pages.indexOf(from.name) : -1
    const transition =
      fromIndex > -1
        ? fromIndex < pages.indexOf('index')
          ? 'slide-up'
          : 'slide-down'
        : 'fade'
    return {
      name: transition,
      mode: 'out-in',
    }
  },
  scrollToTop: true,
}
</script>

<style lang="scss" scoped>
.page-cover {
  position: relative;
  display: flex;
  align-items: center;
  min-height: calc(100vh + 1px);
}
.swipe-affordance-container {
  position: absolute;
  left: 0;
  bottom: 2rem;
  width: 100%;
  animation: appear 1s 2.5s linear both;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
