<template>
  <div id="main" class="page-profile">
    <BaseContainer>
      <HeroicHeading
        heading="Hi, I'm Yuichiro."
        jp-heading="永山と申します｡"
        :animation="true"
      />
      <LanguageSelector spec-color="#4e8bc0" class="u-mt-lg" />
      <div class="c-paper u-mt-xl">
        <picture class="page-profile__photo">
          <source type="image/webp" srcset="~assets/images/profile.webp" />
          <img src="~assets/images/profile.png" class="page-profile__photo" />
        </picture>
        <no-ssr>
          <BaseText
            align="center"
            class="u-mt-xl"
            v-html="
              $store.state.lang === 'jp' ? profile.aboutmeJp : profile.aboutmeEn
            "
          />
        </no-ssr>
      </div>
    </BaseContainer>
    <BaseContainer size="lg" class="u-mt-xl">
      <section>
        <BaseHeading color="#fff" class="page-profile__heading">
          SKILLS
        </BaseHeading>
        <no-ssr>
          <div class="three-column">
            <section
              v-for="skill in profile.skills"
              :key="skill.title"
              class="c-paper u-py-lg"
            >
              <BaseHeading class="column__heading">
                {{ skill.title }}
              </BaseHeading>
              <img
                v-if="skill.icon === 'icon--communication.svg' /* ☹️ */"
                svg-inline
                class="column__heroic-icon"
                src="../assets/images/icon--communication.svg"
                alt="icon"
              />
              <img
                v-if="skill.icon === 'icon--development.svg' /* ☹️ */"
                svg-inline
                class="column__heroic-icon"
                src="../assets/images/icon--development.svg"
                alt="icon"
              />
              <img
                v-if="skill.icon === 'icon--design.svg' /* ☹️ */"
                svg-inline
                class="column__heroic-icon"
                src="../assets/images/icon--design.svg"
                alt="icon"
              />
              <BaseText
                v-html="
                  /* eslint-disable-line */
                  $store.state.lang === 'jp' ? skill.descJp : skill.descEn
                "
              />
              <section
                v-for="tagset in skill.tagsets"
                :key="tagset.title"
                class="u-mt-lg"
              >
                <BaseHeading :level="2" class="column__heading2">
                  {{ tagset.title }}
                </BaseHeading>
                <div class="tag-container u-mt-sm">
                  <span
                    v-for="tag in tagset.primaryTags"
                    :key="tag"
                    class="tag"
                  >
                    {{ tag }}
                  </span>
                  <span
                    v-for="tag in tagset.secondaryTags"
                    :key="tag"
                    class="tag tag--secondary"
                  >
                    {{ tag }}
                  </span>
                </div>
              </section>
            </section>
          </div>
        </no-ssr>
      </section>
    </BaseContainer>
    <nav class="u-mt-xl u-pt-xl u-ta-c">
      <nuxt-link to="/works">
        <BaseBtn color="primary">
          View My Works
        </BaseBtn>
      </nuxt-link>
    </nav>
    <!-- <BaseContainer>
      <section class="u-mt-xl">
        <div
          v-for="oneline in profile.onelines"
          :key="oneline.title"
          class="one-line-heading u-mt-lg"
        >
          <BaseHeading color="#fff" class="one-line-heading__heading">
            {{ oneline.title }}
          </BaseHeading>
          <p
            v-if="$store.state.lang === 'jp'"
            class="one-line-heading__context"
          >
            {{ oneline.contentJp }}
          </p>
          <p v-else class="one-line-heading__context">
            {{ oneline.contentEn }}
          </p>
        </div>
      </section>
    </BaseContainer> -->
  </div>
</template>

<script>
import LanguageSelector from '~/components/LanguageSelector.vue'
import HeroicHeading from '~/components/HeroicHeading.vue'
import Profile from '~/assets/json/Profile.json'
export default {
  components: {
    HeroicHeading,
    LanguageSelector,
  },
  data() {
    return { profile: Profile, transition: null }
  },
  mounted() {
    const panel = {
      panelColors: ['#5684D2', '#94B9E8', '#7EADE2', '#6997DF'],
      panelImage: 'panel--moorish-blue.svg',
      gradient: [
        [101, 175, 217, 0.8],
        [238, 245, 255, 0.5],
        [206, 246, 246, 0.6],
        [101, 175, 217, 0.8],
      ],
      colors: {
        primary: '#4e8bc0',
        text: '#4e8bc0',
        primaryOn: '#ffffff',
      },
    }
    this.$store.dispatch('changePanel', panel)
  },
  transition(to, from) {
    const pages = process.env.pages
    const fromIndex = from ? pages.indexOf(from.name) : -1
    const transition =
      fromIndex > -1
        ? fromIndex < pages.indexOf('profile')
          ? 'slide-up'
          : 'slide-down'
        : 'fade'
    return {
      name: transition,
      mode: 'out-in',
    }
  },
}
</script>

<style lang="scss" scoped>
.page-profile {
  position: relative;
  padding: 150px 0 300px 0;
  min-height: 100vh;
}
.page-profile__photo {
  display: block;
  margin: auto;
  width: 180px;
  height: 180px;
}
.page-profile__heading {
  font-size: 2rem;
  color: #fff;
  border-bottom: 2px solid rgba(#fff, 0.5);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  text-shadow: 0 0 0.7em rgba(#000, 0.1);
}
.three-column {
  $gutter: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  margin: -$gutter;
  & > * {
    margin: $gutter;
    flex-grow: 1;
    width: calc(((#{$size--mobile} - 2rem) - 100%) * 9999);
    min-width: calc(33% - #{$gutter} * 2);
    max-width: 100%;
  }
}
.column__heading {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.column__heading2 {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
}
.column__heroic-icon {
  display: block;
  width: 100px;
  margin: 1.5rem auto;
  fill: var(--color--primary);
  transition: fill var(--color-ts-duration) linear;
}
.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin: -0.125rem;
}
.tag {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.125rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--color--primary);
  color: #fff;
  transition: background-color var(--color-ts-duration) linear;
}
.tag--secondary {
  opacity: 0.75;
}
.one-line-heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.one-line-heading__heading {
  min-width: 6.25em;
  font-size: 1.75rem;
  color: white;
  border-bottom: 2px solid rgba(#fff, 0.5);
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.5rem 0;
  text-shadow: 0 0 0.7em rgba(#000, 0.1);
  @include mq-min($size--mobile) {
    border-bottom: none;
    border-right: 2px solid rgba(#fff, 0.5);
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0 0.75rem 0 0;
  }
}
.one-line-heading__context {
  flex-grow: 1;
  background-color: #fff;
  color: var(--color--primary);
  font-weight: normal;
  line-height: 1.4;
  padding: 0.25rem 1rem;
  min-height: 2rem;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
</style>
