<template>
  <div id="main" class="page-works">
    <BaseContainer>
      <HeroicHeading heading="Works" :delay="0.2" />
      <LanguageSelector spec-color="#4e8bc0" class="u-mt-lg" />
    </BaseContainer>
    <BaseContainer size="lg">
      <div class="page-works__items u-mt-xl">
        <template v-for="work in works">
          <nuxt-link
            :key="work.id"
            :to="'/work/' + work.id"
            class="page-works__item"
          >
            <div
              @mouseover="mouseOver(work)"
              @mouseleave="mouseLeave"
              @click="click"
            >
              <BaseLazyImg :img-url="work.thumbnail" class="u-w-100p" />
              <BaseHeading size="sm" class="u-mt-sm">
                {{
                  $store.state.lang === 'jp' && work.jpHeading
                    ? work.jpHeading
                    : work.heading
                }}
              </BaseHeading>
              <BaseText class="page-works__date u-mt-xs">
                {{ work.date }}
              </BaseText>
              <BaseText class="page-works__sub-heading u-mt-sm">
                {{
                  $store.state.lang === 'jp' && work.jpSubHeading
                    ? work.jpSubHeading
                    : work.subHeading
                }}
              </BaseText>
              <BaseBtn
                size="sm"
                color="primary"
                skin="bold"
                class="page-works__item__btn u-m-md"
              >
                VIEW
              </BaseBtn>
            </div>
          </nuxt-link>
        </template>
      </div>
    </BaseContainer>
    <nav class="u-mt-xl u-pt-xl u-ta-c">
      <nuxt-link to="/contact">
        <BaseBtn color="primary">
          Contact Me?
        </BaseBtn>
      </nuxt-link>
    </nav>
  </div>
</template>

<script>
import HeroicHeading from '~/components/HeroicHeading'
import LanguageSelector from '~/components/LanguageSelector'
import WorksData from '~/assets/json/Works.json'

export default {
  name: 'PageWorks',
  components: {
    LanguageSelector,
    HeroicHeading,
  },
  data() {
    return {
      works: WorksData,
    }
  },
  mounted() {
    const panel = {
      id: 'athome',
      panelColors: ['#D7DCE6', '#F6F7F9', '#DFE3EB', '#ECEEF2'],
      panelImage: 'panel--stripe.svg',
      gradient: [
        [130, 140, 150, 0.7],
        [200, 210, 220, 0.5],
        [160, 170, 180, 0.6],
        [130, 140, 150, 0.7],
      ],
      colors: {
        primary: '#678',
        text: '#678',
        primaryOn: '#ffffff',
      },
    }
    this.$store.dispatch('changePanel', panel)
  },
  methods: {
    mouseOver(work) {
      // 色のトランジション速度を一時的に変更
      document
        .querySelector('#app')
        .style.setProperty(`--color-ts-duration`, '0.5s')
      // パネル画像とパネル色は変更しない
      const panel = Object.assign({}, work)
      panel.id = 'works'
      panel.panelImage = null
      panel.panelColors = null
      panel.colorTransitionDelay = 1
      this.$store.dispatch('changePanel', panel)
    },
    mouseLeave() {
      const panel = {
        gradient: [
          [130, 140, 150, 0.7],
          [200, 210, 220, 0.5],
          [160, 170, 180, 0.6],
          [130, 140, 150, 0.7],
        ],
        colors: {
          primary: '#678',
          text: '#678',
          primaryOn: '#ffffff',
        },
        colorTransitionDelay: 1,
      }
      this.$store.dispatch('changePanel', panel)
      this.resetColorTransition()
    },
    click() {
      this.resetColorTransition()
    },
    resetColorTransition() {
      document
        .querySelector('#app')
        .style.setProperty(`--color-ts-duration`, '2s')
    },
  },
  transition(to, from) {
    const pages = process.env.pages
    const fromIndex = from ? pages.indexOf(from.name) : -1
    const transition =
      fromIndex > -1
        ? fromIndex < pages.indexOf('works')
          ? 'slide-up'
          : 'slide-down'
        : 'fade'
    return {
      name: transition,
      mode: 'out-in',
    }
  },
}
</script>

<style lang="scss" scoped>
.page-works {
  position: relative;
  padding: 150px 0 300px 0;
  min-height: 100vh;
}
.page-works__items {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}
.page-works__item {
  display: block;
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: $shadow--standard;
  @include mq-min($size--mobile) {
    width: calc(33.3% - 1rem);
  }
}
.page-works__item__btn {
  font-size: 0.8rem;
}
.page-works__date {
  opacity: 0.8;
}
.page-works__sub-heading {
  position: relative;
  padding: 0.5rem;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color--primary);
    border-radius: 3px;
    opacity: 0.1;
    transition: background-color var(--color-ts-duration) linear;
  }
}
</style>
